#Margin
{
color:white;
margin:30px;
background-color: purple;
max-width: 300px;
min-height: 45px;
margin-top: 10px;
margin-bottom: 15px;
margin-right: 20px;
margin-left: 20px;
margin:10px 15px 20px 20px;
margin: 10px 10px 15px 0;
}
.dare {
    margin:auto;
    color:purple;
    margin:20%;
    max-width: 200px;
    min-height: 100px;

}
#nav  
{
    color:navy;
    max-width: 70px;
    min-height: 30px;
    margin:inherit;
}
