#heading{
 
    font-size:30px;
    background-color: wheat;
    color:brown;
    border: 2px solid yellow;
}
#promise
{
    font-size:30px;
    background-color: blue;
    color:brown;
    border: 2px solid green;
}